extends layout
block scripts
  script(src='/javascripts/edit.js')
block content
  p This form allows you to create new and edit existing userpages created by I make userpages. Please double check your edits as they go live as soon as you hit "Submit".

  p To delete a user, simply remove all their templates and hit submit. 
  div(class="form-group")
    form(id="editform" method="POST")
      div(class="form-group")
        label(for="user") User
        input(type="text" id="user" name="user" class="form-control" value=`${user}`)

      fieldset
        legend Userpages
        div(id="userpages")
          if !noPages
            each template, language in pages
              div(class="form-group", id='div-' + language)
                label(for=`${language}`) #{language}
                div(class="input-group")
                  input(type="text" id=`${language}` required name=`${language}` class="form-control" value=`${template}`)
                  span(class="input-group-btn")
                    button(type="button", class="btn btn-danger", onClick=`deleteLanguage('${language}');`) Delete


      input(type="submit" class="btn btn-primary")

  fieldset
    legend Add new Languages
    div(class="form-group")
      label(for="newlang") Language Code
      input(type='text', class="form-control" id='newlang')
    button(type='button' onClick='addLanguage(document.getElementById(\'newlang\').value);' class="btn btn-primary") Add Language
